@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        background-color: #fff;
        color: #3c3c3c;
        font-size: min(4vw, 1rem);
        font-family: "garamond-premier-pro-display", serif;
    }
    :root.dark{
        background-color: #3c3c3c;
        color: #fff;
    }
    @media (min-width:768px) {
        :root {
            font-size: 1rem;
        }        
    }
}

@layer components{
    .h-section{
        display: flex;
        align-items: center;
        color: #6f6f6f;
        font-feature-settings: "palt";
    }
    .h-section h2{
        font-weight: 400;
        @apply px-4 w-full max-w-screen-xl text-5xl tracking-wider relative z-10;
    }
    .h-section span{
        font-size: 1.4em;
        opacity: 0.07;
        left: 0.5em;
        @apply -z-10 absolute bottom-0 
    }
    :root.dark .h-section{
        color: #fff;
    }
    .h-section::before{
        content: "";
        display: block;
        height: 0.05em;
        width: calc((100% - 1280px)/2);
        background-color: #6f6f6f;
    }
    @media (max-width: 769px){
        .h-section::before{
            width: calc(2rem / 2);
        }
        :root.dark .h-section::before{
            background-color: #fff;
        }
    }
    .icon-list {
        position: relative;
        width: 10em;
        height: 10em;
        margin: auto;
    }

    .icon-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .icon-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(calc(-50% - 0.9em), calc(-50% - 1em));
    }

    .icon-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 0 0;
    }
}