@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        background-color: #fff;
        color: #3c3c3c;
        font-size: min(4vw, 1rem);
        font-family: "garamond-premier-pro-display", serif;
    }
    :root.dark{
        background-color: #3c3c3c;
        color: #fff;
    }
    @media (min-width:768px) {
        :root {
            font-size: 1rem;
        }        
    }
}

@layer components{
    .h-section{
        display: flex;
        align-items: center;
    }
    .h-section::before{
        content: "";
        display: block;
        height: 0.05em;
        width: calc((100% - 1280px)/2);
        background-color: #3c3c3c;
    }
    @media (max-width: 769px){
        .h-section::before{
            width: calc(2rem / 2);
        }
        :root.dark .h-section::before{
            background-color: #fff;
        }
    }
}
